.evacuation-container {
  padding: 0 25px 25px;
}

/* 검색창 */
.evacuation-search-box {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.line-search label, .station-search label {
  width: 63px;
  font-size: 18px;
  font-weight: bold;
}

.evacuation-input {
  flex: 1;
  height: 38px;
  padding: 0 10px;
  background-color: #fff;
  outline: none;
  border: 1px solid #000;
}

.line-search, .station-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line-search select {
  /* 브라우저 기본 화살표 제어 */
  appearance: none;       /* Chrome, Safari */
  -webkit-appearance: none; /* iOS, Safari */
  -moz-appearance: none;  /* Firefox */
  
  background-image: url('/btn/dropbox-btn.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;
}

.station-search {
  position: relative;
}

.station-search input {
  cursor: text;
}

.station-search-btn {
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  background-color: #fff;
  background-image: url('/btn/search-btn.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}


/* 툴팁 */
.tooltip {
  position: absolute;
  top: 37px;
  left: 63px;
  background-color: #333;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 12px;
  padding: 4px 8px;
  margin-top: 4px;
  white-space: nowrap;
  z-index: 1;
}


/* 드랍다운 */
.dropdown {
  position: absolute;
  top: 37px;
  left: 63px;
  right: 0px;
  border: 1px solid #ccc;
  border-top: 1px solid #000;
  background-color: #fff;
  max-height: 200px; /* 항목 많을 때 스크롤 가능 */
  overflow-y: auto; /* 스크롤이 필요할 경우에만 스크롤 생성 */
  z-index: 1;
  list-style: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.dropdown li {
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #f0f0f0;
}


/* 대피도 이미지 */
.img-card {
  position: relative;
  max-width: 1150px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #000;
}

.img-card-center {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 9 / 8;
}

.evacuation-img-placeholder {
  margin: 15px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.evacuation-img {
  max-width: 1150px;
  width: 100%;
  user-select: none;
  touch-action: none;
}

.expansion-icon {
  width: 15px;
  position: absolute;
  top: 15px;
  right: 15px
}