/* 검색창 */
.search-container {
  padding: 0 25px 25px;
}

.search-box {
  margin-bottom: 20px;
  position: relative;
}

.departure-station, .arrival-station {
  width: 100%;
  height: 45px;
  padding: 0 30px;
  display: block;
  background-color: #fff;
  border: 1px solid #000;
    outline: none;
}

.arrival-station {
  border-top: none;
}


/* 드랍다운 */
.search-departure-station, .search-arrival-station {
  position: relative; /* 드롭다운 기준 */
}

.search-dropdown {
  position: absolute;
  top: 100%;  /* input 바로 아래 */
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-top: 1px solid #000;
  background-color: #fff;
  max-height: 200px; /* 항목 많을 때 스크롤 가능 */
  overflow-y: auto; /* 스크롤이 필요할 경우에만 스크롤 생성 */
  z-index: 2;
  list-style: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.search-dropdown li {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.search-dropdown li:hover {
  background-color: #f0f0f0;
}

.dropdown-station-line {
  margin-left: 10px;
  color: #585858;
  font-size: 12px;
}


/* 위아래 교체, 리셋, 길찾기버튼 */
.reverse-btn {
  width: 35px;
  height: 35px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 27px;
  right: 27px;
  cursor: pointer;
  z-index: 1;
}

.search-btns {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.search-btns button {
  width: 140px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.search-btn {
  color: #1F007C;
}


/* 카드 */
.search-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 15px;
}

.card {
  padding: 15px;
  border: 1px solid #000;
  background-color: #fff;
}

.card-running-time {
  display: inline;
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
}

.card-content-group {
  display: inline;
  font-size: 11px;
  font-weight: bold;
  color: #1F007C;
}

.card-process {
  font-size: 10px;
  font-weight: bold;
  color: #585858;
}

/* 환승노선도 */
.card-route-container {
  margin-top: 15px;
}

.route-group {
  display: flex;
  gap: 30px;
}

.estimated-time {
  font-size: 7px;
  font-weight: bold;
  color: #898989;
  position: relative;
  top: 2px;
}

.route-map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 4px solid #AD7A00;
}

.search-line {
  width: 0;
  height: 20px;
  border: 2px solid #AD7A00;
}

.apply-station {
  display: flex;
  gap: 15px;
  position: relative;
  top: -2px;
}

.search-line-number {
  width: 18px;
  height: 18px;
  background-color: #AD7A00;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
}

.station-name {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: -2px;
}

.route-group:last-child .route-map .search-line {
  display: none;
}