@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


/* width > height > position > display 순서로 정렬 */


.linesdetail-web-container {
  --line-color: #000000;
}


*, *::before, *::after { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
}


.linesdetail-box {
  width: 100%;
  height: clamp(889px, calc(295.02013px + 100.67114dvh), 1000px);
  position: relative;
  padding-inline: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  container-name: hidebox-height;
}


.linesdetail-textbox {
  container-type: inline-size; 
  width: clamp(402px, 90vw, 1200px); /* clamp(최소값, 선호값, 최대값), 반응형 웹/앱 위해 사용 */
  display: flex;
  justify-content: center;
  align-items: center;
}


.linesdetail-line-number {
 font-family: "Noto Sans KR", sans-serif;
 font-size: 30px;
 font-weight: 700;
 font-style: normal;
 position: relative;
 display: inline-block;
 top: 10px;
 letter-spacing: 1.5px;
 text-align: center;
}


.linesdetail-frame {
  width: 100%;
  height: 100%;
  max-width: 1200px;  
  margin-inline: auto;
  position: relative;
  padding-inline: 0;
  display: flex;
  justify-content: center;
}


.linesdetail-linebox {
  container-type: inline-size;
  inline-size: min(1200px, calc(100% - 50px)); /* = 좌우 25px씩 정확히 */
  max-width: 100%; /* 보강용 */
  position: absolute;
  top: 35px;
  bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 1;
}


.linesdetail-stationscontainer {
  container-type: inline-size; 
  inline-size: min(clamp(402px, calc(90vw - 50px), 1148px), 90%);
  height: 100%;
  margin-inline: auto;
  position: absolute;
  left: 0;
  right: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}


.linesdetail-line {
  width: 5px; /* 너비 고정 */
  height: clamp(504px, calc(462.22px + 10.394vw), 581.56px);
  padding-top: 24px;
  padding-bottom: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--line-color);
  border: none;
  box-sizing: content-box;
  z-index: 0;
}


.linesdetail-hideboxes {
  container-type: inline-size; 
  width: clamp(350px, calc(90vw - 50px), 1148px);
  height: 100%;
  max-width: 100%;
  margin-inline: auto;
  position: relative;
  z-index: 60;
}


.linesdetail-hideboxesverticallength {
  height: clamp(504px, calc(462.22px + 10.394vw), 581.56px);
  max-width: 100%;
  margin-inline: auto;
  position: relative;
  display: grid;
  place-items: center;
  height: 100%;
  z-index: 30;
}

.linesdetail-hidebox1.at-top {
  width: 20px;
  height: clamp(165px, calc(230px - 3.4vw), 212px);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  z-index: 30;
}

.linesdetail-hidebox2.at-bottom {
  width: 20px;
  height: clamp(186px, calc(230px - 3.4vw), 220px);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  z-index: 30;
}


.linesdetail-stations {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 16px 16px;
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  row-gap: 42px;
  z-index: 70 !important;
  overflow-y: scroll;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}


.linesdetail-station {
  font-family: "Noto Sans KR", sans-serif;
  width: 114px;
  height: 36px;
  position: relative; 
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: 18px;
  border: 4px solid var(--line-color);
  background-color: #fff;
  z-index: 70 !important;
  cursor: pointer;
  overflow: hidden;
}


/* 지선, 순환선 따로 표시 */
.linesdetail-branchLine, .linesdetail-loopLine {
  width: 126px;
  height: 36px;
  position: relative;
  left: -4px;
  right: -4px;
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: 0 !important;
  border: 4px solid #fff !important;
  background-color: #35A344;
  color: #fff;
  box-shadow: 0 2px 7px #333;
  z-index: 70 !important;
  pointer-events: none !important;
}


.linesdetail-hide-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}


.linesdetail-hide-scrollbar::-webkit-scrollbar
{
  display: none; /* Chrome, Safari */
}


/* 실시간 지하철 위치 */
.linesdetail-subwaysbox {
  container-type: inline-size;
  width: clamp(402px, calc(90vw - 50px), 1148px);
  max-width: 100%; /* 보강용 */
  margin-inline: auto;     /* 가로 중앙 */
  height: auto;
  position: absolute;
  top: 35px;
  left: 0;                 /* 둘 다 줘야 함 */
  right: 0;
  bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.linesdetail-subways {
  width: 100%;
  height: clamp(614px, calc(554.1849866px + 14.87935657dvh), 725px);
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.linesdetail-subway-line-up {
  width: 30px;
  height: 100%;
  position: relative;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F8F8F8;
  z-index: 10;
  overflow: hidden;
}


.linesdetail-subway-up-image {
  width: 30px;
  display: block;
}


.linesdetail-subway-up-image2 {
  width: 30px;
  display: block;
}


.linesdetail-subway-line-down {
  width: 30px;
  height: 100%;
  position: relative;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F8F8F8;
  z-index: 10;
  overflow: hidden;
}


.linesdetail-subway-down-image {
  width: 30px;
  display: block;
}


.linesdetail-subway-up-p {
  position: absolute;   /* ← relative → absolute */
  left: 20%;
  top: 50%; transform: translateY(-50%); /* 세로 가운데로 띄우고 싶다면 */
  width: 140px;
  text-align: center;
  padding: 20px 0;
  background-color: #F5F5F5;
  visibility: hidden;
  z-index: 50;
}


.linesdetail-subway-up-image:hover ~ .linesdetail-subway-up-p {
  display: inline-block;
  opacity: 1;
  visibility: visible;
  z-index: 50;
}


.linesdetail-subway-down-image2 {
  width: 30px;
  display: block;
}


/* 여기부터 그라데이션 마스크 */
.stations-responsive-height {
  container-type: inline-size;
  inline-size: clamp(402px, calc(90vw - 50px), 1148px);
  height: 100%;
  margin-inline: auto;
  position: relative;
  display: grid;
  place-items: center;
  z-index: 1000;
}

.linesdetail-stations-height {
  container-type: size; 
  width: 146px;      
  max-inline-size: 100%; /* 부모보다 넓어지지 않게 안전장치 */
  height: clamp(504px, calc(470px + 12cqi), 582px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  container-name: gradient-mask-stations;
}

/* 기본 마스크 해제 */
.linesdetail-station {
  -webkit-mask-image: none;
  mask-image: none;
}


/* 작은 컨테이너: statioin7만 페이드 (atTop일 때만) */
@container gradient-mask-stations (max-height: 562.44px) {
  .linesdetail-stations.at-top .linesdetail-station7 {
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 50%, rgba(0,0,0,0));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 50%, rgba(0,0,0,0));
    -webkit-mask-repeat: no-repeat; 
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 50%;   
    mask-size: 100% 50%;
    overflow: hidden;
  }
  .linesdetail-stations.at-top .linesdetail-station8 {
    -webkit-mask-image: none; 
    mask-image: none;
    overflow: visible;
  }
}

/* 큰 컨테이너: statioin8만 페이드 (atTop일 때만) */
@container gradient-mask-stations (min-height: 562.45px) {
  .linesdetail-stations.at-top .linesdetail-station7 {
      -webkit-mask-image: none;
      mask-image: none;
      overflow: visible;
  }
  .linesdetail-stations.at-top .linesdetail-station8 {
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 50%, rgba(0,0,0,0));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 50%, rgba(0,0,0,0));
    -webkit-mask-repeat: no-repeat; 
    mask-repeat: no-repeat; 
    -webkit-mask-size: 100% 50%;   
    mask-size: 100% 50%;
    overflow: hidden;
  }
}
/* 여기까지 그라데이션 마스크 */